<div class="container my-4">
  <!-- Bouton de création d'un utilisateur -->
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-success" [routerLink]="['/user/create']">
      Créer un utilisateur
    </button>
  </div>

<table class="table caption-top">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">username</th>
        <th scope="col">phone</th>
        <th scope="col">email</th>
        <th scope="col">Nom complet</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      
      <!-- Pour chaque utilisateur, on transmet aussi l'index pour le numéro de ligne -->
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.name.firstname }} {{ user.name.lastname }}</td>
        <td>
          <button class="btn btn-primary btn-sm me-1" [routerLink]="['/edit-user', user.id]">Editer</button>
          <button class="btn btn-danger btn-sm me-1" (click)="onDeleteUser(user.id)">Supprimer</button>
          <button class="btn btn-info btn-sm" [routerLink]="['/users', user.id]">Détails</button>
        </td>
      </tr>
      
    </tbody>
  </table>
  